/LaboratorioJPA-ejb/build/
/LaboratorioJPA-ejb/dist/
/build/
/dist/
/LaboratorioJPA-war/build/
/LaboratorioJPA-war/dist/
/LaboratorioJPA-ejb/nbproject/private/
/LaboratorioJPA-war/nbproject/private/
/nbproject/private/